$white: #fff;
$black: #000;

$primary: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$error: #f56c6c;

$themes:(
	primary:(
		bg-color:$primary
		bg-hover-color:$primary
		font-color:$primary
	),
	success:(
		bg-color:$success
		bg-hover-color:$success
		font-color:$success
		
	),
	warning:(
		bg-color:$warning
		bg-hover-color:$warning
		font-color:$warning
		
	),
	error:(
		bg-color:$error
		bg-hover-color:$error
		font-color:$error
	)
)

@each $name,$colors in $themes {
	.x-button-#{$name} {

		
	}
}






























// $baseType:(
//   primary: $primary,
//   success: $success,
//   warning: $warning,
//   error: $error
// );

// @mixin button_type($color) {
//     background-color: $color;
// }

// @each $type, $color in $baseType {
//   .x-button-#{$type} {
//    background-color: $color;
//   }
// }


