$white:#fff;
$black:#000;

$primary:#409eff;
$success:#67c23a;
$warning:#e6a23c;
$error:#f56c6c;


$x-bg-color: #ffffff;
$x-bg-color-page: #f2f3f5;
$x-bg-color-overlay: #ffffff;
$x-text-color-primary: #303133;
$x-text-color-regular: #606266;
$x-text-color-secondary: #909399;
$x-text-color-placeholder: #a8abb2;
$x-text-color-disabled: #c0c4cc;
$x-border-color: #dcdfe6;
$x-border-color-light: #e4e7ed;
$x-border-color-lighter: #ebeef5;
$x-border-color-extra-light: #f2f6fc;
$x-border-color-dark: #d4d7de;
$x-border-color-darker: #cdd0d6;
$x-fill-color: #f0f2f5;
$x-fill-color-light: #f5f7fa;
$x-fill-color-lighter: #fafafa;
$x-fill-color-extra-light: #fafcff;
$x-fill-color-dark: #ebedf0;
$x-fill-color-darker: #e6e8eb;
$x-fill-color-blank: #ffffff;



// border





























// $baseType:(
//   primary: $primary,  
//   success: $success,  
//   warning: $warning,  
//   error: $error
// );

// @mixin button_type($color) {
//     background-color: $color;
// }


// @each $type, $color in $baseType {  
//   .x-button-#{$type} {  
//    background-color: $color;
//   }  
// }



























